<nav id="sidebar-icon-links">
  {% if site.github.repo %}
  <a id="github-link" class="icon" title="Github Project" aria-label="Github Project" href="{{ site.github.repo }}">
    {% include svg/github.svg %}
  </a>
  {% endif %}
  <a id="twitter-link" class="icon" title="twitter" aria-label="twitter" href="{{ site.twitter }}">
    {% include svg/twitter.svg %}
  </a>

  <a id="linkedin-link" class="icon" title="linkedin" aria-label="Subscribe" href="{{ site.linkedIn }}">
    {% include svg/linkedin.svg %}
  </a>
</nav>